.large-icon{
  font-size: 48px;
}
.medium-icon{
  font-size: 36px;
}
.small-icon{
font-size: 24px;
}
.xs-icon{
  font-size: 12px;
}
.custom-icon-size{
	font-size: 18px;
}
.icon-button {
  cursor: pointer !important;
}