<md-content flex class="widgetHomePage" ng-controller="HomeController">

  <div flex class="breadcrumb">
    <span class="where">Home</span>
    <span class="separator">
      <md-icon class="material-icons"> chevron_right</md-icon>
    </span>
    <span class="where">Wits</span>
    <span class="separator">
      <md-icon class="material-icons"> chevron_right</md-icon>
    </span>
    <span class="where active">Recently Added</span>
  </div>

  <!-- ngCarousel -->
  <section>

    <div layout="row">
      <span flex class="widget-title">
        RECENTLY ADDED
      </span>
      <div layout="row" layout-gt-sm="row">
        <md-input-container md-no-float style="padding:0;margin:0 10px;">
          <input type="text" placeholder="Search" >
          <i class="material-icons" style="bottom:0;padding:5px 0;position:absolute;right:0;">search</i>
        </md-input-container>
        <md-select ng-model="size" placeholder="Sort" class="sort-holder">
          <md-option ng-repeat="size in sizes" value="{{size}}">{{size}}</md-option>
        </md-select>
        <md-switch class="margin-lr-10">
          Document
        </md-switch>
      </div>
    </div>

    <md-list-item layout="row" layout-wrap layout-sm="column" class="md-3-line" layout="row">
      <div flex layout="column" class="CustomCarousel" style="min-width:100%;min-height:40px;" ng-include="'app/home/carousel.html'"></div>
    </md-list-item>

  </section>

  <section>
    <div layout="row">
      <span flex class="widget-title">
        MOST USED
      </span>
      <div layout="row" layout-gt-sm="row">
         <md-input-container md-no-float style="padding:0;margin:0 10px;">
          <input type="text" placeholder="Search" >
          <i class="material-icons" style="bottom:0;padding:5px 0;position:absolute;right:0;">search</i>
        </md-input-container>
        <md-select ng-model="size" placeholder="Sort" class="sort-holder">
          <md-option ng-repeat="size in sizes" value="{{size}}">{{size}}</md-option>
        </md-select>
        <md-switch class="margin-lr-10">
          Document
        </md-switch>
      </div>
    </div>
    <md-list-item layout="row" layout-wrap layout-sm="column" class="md-3-line" layout="row">
      <div flex layout="column" class="CustomCarousel" style="min-width:100%;min-height:40px;" ng-include="'app/home/carousel.html'"></div>
    </md-list-item>
  </section>

<md-fab-speed-dial md-open="false" md-direction="up" class="md-raised fixed-action-btn md-fling">
       
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab md-primary">
            <md-icon class="material-icons">add</md-icon>
          </md-button>
        </md-fab-trigger>
       
        <md-fab-actions>
          <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
            <md-icon md-svg-src="img/icons/twitter.svg" aria-label="Twitter"></md-icon>
          </md-button>
          <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
            <md-icon md-svg-src="img/icons/facebook.svg" aria-label="Facebook"></md-icon>
          </md-button>
          <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
            <md-icon md-svg-src="img/icons/hangout.svg" aria-label="Google Hangout"></md-icon>
          </md-button>
        </md-fab-actions>
      </md-fab-speed-dial>

</md-content>
