.home-add-btn{
  md-icon{
    font-size: 18px;
  }
  .acro-icon{
    font-size: 16px; line-height: 18px;
  }
}
.home-search{

.search-icon{
  position: absolute;
  left: 35px;
}
  md-input-container{
    input{
      padding-left: 30px;
    }
  }
}

.md-button-custom{
  @extend .margin-0, .pad-0;
  min-width:0;
}

.overlay-wit-preview-card{
    position: absolute !important;
    min-height: 300px;
    z-index: 10;
    transform:scale(0);
    transition: all 0.2s;
    left: -10px;
    right: 0px;
    margin-top: -20px;
    background: #aaa;
    margin-left: 0;

}
.show-overlay{
    transform:scale(1);

}

.new-wit-section{
  overflow:hidden;
}

.wit-card-container{
  max-width: 243px;
  min-width: 243px;
}
.new-wit-card{
  height: 230px; /*190px;*/
  width : 230px;
  transition: all 0.2s linear;
  cursor:pointer;
  margin:0;
  .icon-pin{
    line-height:18px;
    font-size:16px;
  }
  .wit-menu-icon{
    width:15px;
    cursor:pointer;
    color: $dark_grey;
  }
  .new-wit-desc{
    overflow:hidden;
    display: -webkit-box;
    text-overflow:ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    -moz-box-orient: vertical;
    -moz-line-clamp: 2;
  }
  .show-card-options{
    transform:scale(1);
  }
}




.wit-card-hue-1{
  color: $wit-card-hue-1;
}
.wit-card-hue-2{
  color: $wit-card-hue-2;
}
.wit-card-hue-3{
  color: $wit-card-hue-3;
}
.wit-card-hue-4{
  color: $wit-card-hue-4;
}

.card-container {
  i{ font-size: 5em; }
  .doc-wit-card-file-name {
    overflow: hidden;
  }

}


.new-wit-card-footer{
  transition:all 0.15s ease-in;
  transform-origin:top;
  transform:scale(0);
  min-height: 44px;
  .md-button:not([disabled]):hover{
    background: transparent;
  }
  @extend .pad-lr-10;
  .wit-fav{
    &:hover{
      color:$wit-card-colored;
    }
  }
}

.wit-rating{
  .icon-star-hollow,.icon-star-solid{
    font-size:14px;
    vertical-align: text-top;
  }
}

.status-icons{
  md-icon{
    font-weight:normal;
    font-size:18px;
    line-height:24px;
  }
}

.fixed-action-btn{
  .md-fab.wit-docs-fab{
    &:hover{
      background-color:$fab-docs-color !important;
    }
      background-color: $fab-docs-color;
  }
  .md-fab.wit-child-fab{
    &:hover{
      background-color:$fab-wit-color !important;
    }
    background-color: $fab-wit-color;
  }
  .md-fab.wit-contact-fab{
    &:hover{
      background-color: $primary-color-light !important;
    }
    background-color: $primary-color-light;
  }
}


.widgetHomePage{
   section{
    md-list-item{
      @extend .pad-0;
    }
  }
  .CustomCarousel{
    ul{
      @extend .margin-0, .pad-0, .pad-t-10;
      height:260px;
    }
    li{
      @extend .margin-l-20;
    }
  }
}


/* Our own carousel! Yeah! Move it to appropriate directive afterwards */

.witty-carousel{
  min-height: 270px;
  max-width: 100%;
  background: transparent;
  .witty-carousel-controls{
    min-width:40px;
    position: relative;
    @extend .margin-0;
  }
  .witty-carousel-content-container{
    @extend .overflow-h;
    position: relative;
  }
  .witty-carousel-content{
    transition: all 0.2s;
  }
  .new-wit-card{
    @extend .margin-r-10;
  }
}
