@font-face {
  font-family: 'awiconfont';
  src: url('../font/awiconfont.eot?73156429');
  src: url('../font/awiconfont.eot?73156429#iefix') format('embedded-opentype'),
       url('../font/awiconfont.woff?73156429') format('woff'),
       url('../font/awiconfont.ttf?73156429') format('truetype'),
       url('../font/awiconfont.svg?73156429#awiconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'awiconfont';
    src: url('../font/awiconfont.svg?73156429#awiconfont') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "awiconfont";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-refresh_0:before { content: '\a0b0'; } /* 'ꂰ' */
.icon-refresh_1:before { content: '\a0b1'; } /* 'ꂱ' */
.icon-refresh_2:before { content: '\a0b2'; } /* 'ꂲ' */
.icon-refresh_3:before { content: '\a0b3'; } /* 'ꂳ' */
.icon-refresh_4:before { content: '\a0b4'; } /* 'ꂴ' */
.icon-refresh_5:before { content: '\a0b5'; } /* 'ꂵ' */
.icon-refresh_6:before { content: '\a0b6'; } /* 'ꂶ' */
.icon-refresh_7-1:before { content: '\a0b7'; } /* 'ꂷ' */
.icon-progress_0:before { content: '\a0c0'; } /* 'ꃀ' */
.icon-progress_1:before { content: '\a0c1'; } /* 'ꃁ' */
.icon-progress_2:before { content: '\a0c2'; } /* 'ꃂ' */
.icon-progress_3:before { content: '\a0c3'; } /* 'ꃃ' */
.icon-progress_4:before { content: '\a0c4'; } /* 'ꃄ' */
.icon-progress_5:before { content: '\a0c5'; } /* 'ꃅ' */
.icon-progress_6:before { content: '\a0c6'; } /* 'ꃆ' */
.icon-progress_7:before { content: '\a0c7'; } /* 'ꃇ' */
.icon-bold2:before { content: '\e000'; } /* '' */
.icon-italic:before { content: '\e001'; } /* '' */
.icon-underline:before { content: '\e002'; } /* '' */
.icon-left_align:before { content: '\e003'; } /* '' */
.icon-center_align:before { content: '\e004'; } /* '' */
.icon-right_align:before { content: '\e005'; } /* '' */
.icon-justify:before { content: '\e006'; } /* '' */
.icon-bullets:before { content: '\e007'; } /* '' */
.icon-numbering:before { content: '\e008'; } /* '' */
.icon-increase_indent:before { content: '\e009'; } /* '' */
.icon-decrease_indent:before { content: '\e00a'; } /* '' */
.icon-line_spacing:before { content: '\e00b'; } /* '' */
.icon-strikeout:before { content: '\e00c'; } /* '' */
.icon-superscript:before { content: '\e00d'; } /* '' */
.icon-subscript:before { content: '\e00e'; } /* '' */
.icon-remove_formatting:before { content: '\e00f'; } /* '' */
.icon-create_link:before { content: '\e010'; } /* '' */
.icon-insert_image:before { content: '\e011'; } /* '' */
.icon-variable:before { content: '\e012'; } /* '' */
.icon-undo:before { content: '\e013'; } /* '' */
.icon-redo:before { content: '\e014'; } /* '' */
.icon-zoom_in:before { content: '\e015'; } /* '' */
.icon-zoom_out:before { content: '\e016'; } /* '' */
.icon-cut:before { content: '\e017'; } /* '' */
.icon-copy2:before { content: '\e018'; } /* '' */
.icon-fetch-page:before { content: '\e019'; } /* '' */
.icon-workflow:before { content: '\e01a'; } /* '' */
.icon-draft:before { content: '\e01b'; } /* '' */
.icon-tips:before { content: '\e01c'; } /* '' */
.icon-version:before { content: '\e01d'; } /* '' */
.icon-wit-version:before { content: '\e01e'; } /* '' */
.icon-double-arrow-left:before { content: '\e01f'; } /* '' */
.icon-double-arrow-right:before { content: '\e020'; } /* '' */
.icon-done-editing:before { content: '\e021'; } /* '' */
.icon-icon_a:before { content: '\e022'; } /* '' */
.icon-insert-table:before { content: '\e023'; } /* '' */
.icon-embed:before { content: '\e024'; } /* '' */
.icon-remove_paragraph:before { content: '\e025'; } /* '' */
.icon-wit_expiry:before { content: '\e026'; } /* '' */
.icon-campaign:before { content: '\e800'; } /* '' */
.icon-copy_text_&amp;_file_links:before { content: '\e801'; } /* '' */
.icon-delegate_new:before { content: '\e802'; } /* '' */
.icon-preview:before { content: '\e803'; } /* '' */
.icon-waiting_for_approval:before { content: '\e804'; } /* '' */
.icon-icon-arrow-left:before { content: '\e805'; } /* '' */
.icon-sms:before { content: '\e806'; } /* '' */
.icon-whatsapp:before { content: '\e807'; } /* '' */
.icon-related_wits:before { content: '\e808'; } /* '' */
.icon-resize-full:before { content: '\e809'; } /* '' */
.icon-folder-open:before { content: '\e80a'; } /* '' */
.icon-megaphone:before { content: '\e80b'; } /* '' */
.icon-wit_link-1:before { content: '\e80c'; } /* '' */
.icon-facebook-1:before { content: '\e80d'; } /* '' */
.icon-twitter-1:before { content: '\e80e'; } /* '' */
.icon-linkedin:before { content: '\e80f'; } /* '' */
.icon-gplus:before { content: '\e810'; } /* '' */
.icon-weibo:before { content: '\e811'; } /* '' */
.icon-tencent-weibo:before { content: '\e812'; } /* '' */
.icon-wechat:before { content: '\e813'; } /* '' */
.icon-instagram-1:before { content: '\e814'; } /* '' */
.icon-whatsapp-1:before { content: '\e815'; } /* '' */
.icon-version_new1:before { content: '\e816'; } /* '' */
.icon-version_new:before { content: '\e817'; } /* '' */
.icon-navigation_arrow_up:before { content: '\e818'; } /* '' */
.icon-navigation_arrow_right:before { content: '\e819'; } /* '' */
.icon-navigation_arrow_left:before { content: '\e81a'; } /* '' */
.icon-navigation_arrow_down:before { content: '\e81b'; } /* '' */
.icon-version_file:before { content: '\e81c'; } /* '' */
.icon-revert_version:before { content: '\e81d'; } /* '' */
.icon-home:before { content: '\e81e'; } /* '' */
.icon-dashbord:before { content: '\e81f'; } /* '' */
.icon-workflow_new1:before { content: '\e820'; } /* '' */
.icon-contacts:before { content: '\e821'; } /* '' */
.icon-more_vertical:before { content: '\e822'; } /* '' */
.icon-more_horizontal:before { content: '\e823'; } /* '' */
.icon-apps:before { content: '\e824'; } /* '' */
.icon-notifications:before { content: '\e825'; } /* '' */
.icon-widget:before { content: '\e826'; } /* '' */
.icon-microsites:before { content: '\e827'; } /* '' */
.icon-xls:before { content: '\e828'; } /* '' */
.icon-ppt:before { content: '\e829'; } /* '' */
.icon-jpg:before { content: '\e82a'; } /* '' */
.icon-gif:before { content: '\e82b'; } /* '' */
.icon-html:before { content: '\e82c'; } /* '' */
.icon-find:before { content: '\f000'; } /* '' */
.icon-notificatios:before { content: '\f001'; } /* '' */
.icon-admin:before { content: '\f002'; } /* '' */
.icon-personal:before { content: '\f003'; } /* '' */
.icon-share:before { content: '\f004'; } /* '' */
.icon-company:before { content: '\f005'; } /* '' */
.icon-premium:before { content: '\f006'; } /* '' */
.icon-folder:before { content: '\f007'; } /* '' */
.icon-add-folder:before { content: '\f008'; } /* '' */
.icon-new-wit:before { content: '\f009'; } /* '' */
.icon-new-combo-wit:before { content: '\f00a'; } /* '' */
.icon-import-wits:before { content: '\f00b'; } /* '' */
.icon-open_widget:before { content: '\f00c'; } /* '' */
.icon-close_widget:before { content: '\f00d'; } /* '' */
.icon-discovery:before { content: '\f00e'; } /* '' */
.icon-checkbox:before { content: '\f00f'; } /* '' */
.icon-checkbox_selected-1:before { content: '\f010'; } /* '' */
.icon-radio:before { content: '\f011'; } /* '' */
.icon-radio-selected:before { content: '\f012'; } /* '' */
.icon-arrow-down-solid:before { content: '\f013'; } /* '' */
.icon-arrow-right-solid:before { content: '\f014'; } /* '' */
.icon-arrow-right:before { content: '\f015'; } /* '' */
.icon-arrow-down:before { content: '\f016'; } /* '' */
.icon-drop-down:before { content: '\f017'; } /* '' */
.icon-sort_up:before { content: '\f018'; } /* '' */
.icon-sort_down:before { content: '\f019'; } /* '' */
.icon-import-contacts:before { content: '\f01a'; } /* '' */
.icon-star-solid:before { content: '\f01b'; } /* '' */
.icon-star-solid-half:before { content: '\f01c'; } /* '' */
.icon-star-hollow-half:before { content: '\f01d'; } /* '' */
.icon-star-hollow:before { content: '\f01e'; } /* '' */
.icon-facebook:before { content: '\f01f'; } /* '' */
.icon-twitter:before { content: '\f020'; } /* '' */
.icon-linked-in:before { content: '\f021'; } /* '' */
.icon-email_new:before { content: '\f022'; } /* '' */
.icon-tooltip:before { content: '\f023'; } /* '' */
.icon-setting:before { content: '\f024'; } /* '' */
.icon-logout:before { content: '\f025'; } /* '' */
.icon-profile:before { content: '\f026'; } /* '' */
.icon-widget-collapse:before { content: '\f027'; } /* '' */
.icon-widget-expand:before { content: '\f028'; } /* '' */
.icon-lock:before { content: '\f029'; } /* '' */
.icon-shared:before { content: '\f02a'; } /* '' */
.icon-label:before { content: '\f02b'; } /* '' */
.icon-exit-edit-combo:before { content: '\f02c'; } /* '' */
.icon-error:before { content: '\f02d'; } /* '' */
.icon-groups:before { content: '\f02e'; } /* '' */
.icon-save:before { content: '\f02f'; } /* '' */
.icon-save_as:before { content: '\f030'; } /* '' */
.icon-calendar:before { content: '\f031'; } /* '' */
.icon-delete:before { content: '\f032'; } /* '' */
.icon-attachment:before { content: '\f033'; } /* '' */
.icon-edit:before { content: '\f034'; } /* '' */
.icon-analytics:before { content: '\f035'; } /* '' */
.icon-expand:before { content: '\f036'; } /* '' */
.icon-collapse:before { content: '\f037'; } /* '' */
.icon-list:before { content: '\f038'; } /* '' */
.icon-actions:before { content: '\f039'; } /* '' */
.icon-tag_group_new:before { content: '\f03a'; } /* '' */
.icon-tag_new:before { content: '\f03b'; } /* '' */
.icon-tile-view:before { content: '\f03c'; } /* '' */
.icon-detail-view:before { content: '\f03d'; } /* '' */
.icon-minimize:before { content: '\f03e'; } /* '' */
.icon-maximize:before { content: '\f03f'; } /* '' */
.icon-comments:before { content: '\f040'; } /* '' */
.icon-feedback:before { content: '\f041'; } /* '' */
.icon-review:before { content: '\f042'; } /* '' */
.icon-rework:before { content: '\f043'; } /* '' */
.icon-approved:before { content: '\f044'; } /* '' */
.icon-thumb:before { content: '\f045'; } /* '' */
.icon-plus:before { content: '\f046'; } /* '' */
.icon-minus:before { content: '\f047'; } /* '' */
.icon-rotate-left:before { content: '\f048'; } /* '' */
.icon-rotate-right:before { content: '\f049'; } /* '' */
.icon-filter:before { content: '\f04a'; } /* '' */
.icon-combo-wit:before { content: '\f04b'; } /* '' */
.icon-wit:before { content: '\f04c'; } /* '' */
.icon-combo_with_acronym-1:before { content: '\f04d'; } /* '' */
.icon-wit_with_acronym:before { content: '\f04e'; } /* '' */
.icon-post:before { content: '\f04f'; } /* '' */
.icon-note:before { content: '\f050'; } /* '' */
.icon-clipboard:before { content: '\f051'; } /* '' */
.icon-reset-1:before { content: '\f052'; } /* '' */
.icon-comment:before { content: '\f053'; } /* '' */
.icon-edit-wit-rating:before { content: '\f054'; } /* '' */
.icon-close:before { content: '\f055'; } /* '' */
.icon-info:before { content: '\f056'; } /* '' */
.icon-view-wit:before { content: '\f057'; } /* '' */
.icon-dock-left:before { content: '\f058'; } /* '' */
.icon-dock-top:before { content: '\f059'; } /* '' */
.icon-dock-right:before { content: '\f05a'; } /* '' */
.icon-video:before { content: '\f05b'; } /* '' */
.icon-pinned:before { content: '\f05c'; } /* '' */
.icon-pin:before { content: '\f05d'; } /* '' */
.icon-done:before { content: '\f05e'; } /* '' */
.icon-go:before { content: '\f05f'; } /* '' */
.icon-grip:before { content: '\f060'; } /* '' */
.icon-add_attachment:before { content: '\f061'; } /* '' */
.icon-graph:before { content: '\f062'; } /* '' */
.icon-parrot:before { content: '\f063'; } /* '' */
.icon-film_strip:before { content: '\f064'; } /* '' */
.icon-circle_arrow_left:before { content: '\f065'; } /* '' */
.icon-circle_arrow_right:before { content: '\f066'; } /* '' */
.icon-circle_arrow_up:before { content: '\f067'; } /* '' */
.icon-circle_arrow_down:before { content: '\f068'; } /* '' */
.icon-sync:before { content: '\f069'; } /* '' */
.icon-sync_disconnect:before { content: '\f06a'; } /* '' */
.icon-print:before { content: '\f06b'; } /* '' */
.icon-output:before { content: '\f06c'; } /* '' */
.icon-word:before { content: '\f06d'; } /* '' */
.icon-pdf:before { content: '\f06e'; } /* '' */
.icon-user_guide:before { content: '\f06f'; } /* '' */
.icon-whats_new:before { content: '\f070'; } /* '' */
.icon-wit_link:before { content: '\f071'; } /* '' */
.icon-drag_drop_arrow:before { content: '\f072'; } /* '' */
.icon-bulk_apply:before { content: '\f073'; } /* '' */
.icon-google_plus:before { content: '\f074'; } /* '' */
.icon-instagram:before { content: '\f075'; } /* '' */
.icon-sina_weibo:before { content: '\f076'; } /* '' */
.icon-tencent_weibo:before { content: '\f077'; } /* '' */
.icon-we_chat:before { content: '\f078'; } /* '' */